src/**
.gitignore
.yarnrc
yarn.lock
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules
releases/**
.vscode/**
.vscode-test/**
.github/
.env*
eslint.config.js
README-DEV.md
*.sh
*.bat
dist/zed/**
dist/vscode/themes-contribute.json
.idea/
.prettierrc.json
jetbrains/
package-lock.json
